/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: "Press Start 2P", fantasy;
  --heart-color: #ff0000;
  --background-image: repeating-linear-gradient(
    0deg, 
    var(--background-color) 0px, 
    var(--background-color) 2px, 
    transparent 2px, 
    transparent 4px),
  repeating-linear-gradient(
    90deg, 
    var(--background-color) 0px, 
    var(--background-color) 2px, 
    transparent 2px, 
    transparent 4px),
  linear-gradient(180deg, 
  var(--background-color-start) 0%, 
  var(--background-color-start) 0.01%, 
  var(--background-color-end) 100%);
}